.btn_compartir {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 75px;
  background-color: var(--secundarios);
  align-items: center;
  border-radius: 40px;
}

.prueba {
  width: 95%;
  height: 95%;
  margin: 0 auto;
}

.bg_compartir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--secundarios);
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.btn_compartir:hover {
  background-color: var(--secundarios);
  opacity: 50%;
  color: #fff;
}

.linkto {
  font-size: 16px;
  color: var(--usable);
  text-decoration: none;
  font-weight: bold;
  padding: 0 0 0 20px;
  text-transform: uppercase;
}

.compartir {
  width: 25px;
  padding: 20px;
}


.temas {
  font-size: 20px;
  color: var(--secundarios);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 0;
}

.title {

  color: var(--c1);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.contenido {
  width: 92%;
  height: 100%;
  margin: 0 auto;

}


@media screen and (max-width: 650px) {
  .Card-tematica {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
  }

  .img {
    margin: 10px;
  }

  img.Tematica {
    width: 90%;
    height: 90%;
    flex-shrink: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .temas {
    font-size: 16px;
    padding: 0 0 0 0;
    margin: 0;
  }

  .btn_compartir {
    background-color: none;
    width: 0;
  }

  .linkto {
    padding: 0;
    font-size: 0px;

  }


}

@media screen and (max-width: 376px) {
  img.Tematica {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    flex-shrink: 0;
  }

  .img {
    margin: 10px;
  }
  .bg_compartir{
    width: 40px;
    height: 40px;
  }
  .compartir{
    width: 20px;
    padding: 10px;
  }



}

@media screen and (max-width:750px) {
  .btn_compartir{
    background-color: none;
    width: 0;
  }
  .linkto{
    padding: 0;
    font-size: 0px;
  
  }
}