.btn_compartir {
  display: flex;
  flex-direction: row;
  background-color: var(--secundarios);
  width: 35%;
  height: 75px;
  align-items: center;
  border-radius: 40px;
}

.btn_compartir:hover {
  background-color: var(--secundarios);
  opacity: 50%;
  color: #fff;
}

.linkto {
  font-size: 16px;
  color: var(--usable);
  text-decoration: none;
  font-weight: bold;
  padding: 0 0 0 20px;
  text-transform: uppercase;
}

.compartir {
  width: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.temas {
  font-size: 20px;
  color: var(--secundarios);
  font-weight: bold;
  padding: 0 0 0 20px;
  text-transform: uppercase;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 0;
}

.title {
  align-items: center;
  text-align: center;
  color: var(--secundarios);
}

@media screen and (max-width: 650px) {
  .Card-tematica {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
  }

  .img {
    margin: 10px;
  }

  img.Tematica {
    width: 173px;
    height: 92px;
    flex-shrink: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .temas {
    font-size: 16px;
    padding: 0 0 0 0;
    margin: 0;
  }

  .btn_compartir {
    height: 50px;
    width: 20%;
    justify-content: center;
  }

  .linkto {
    display: none;
    font-size: 1px;
  }

  .compartir {
    width: 25px;
    padding: 20px;
  }
}

@media screen and (max-width: 376px) {
  img.Tematica {
    width: 120px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    flex-shrink: 0;
  }
  .img{
    margin: 10px;
  }

}