@import url(../css/var.css);




.Form {
padding: 20px;

}

.Formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red-login-button {
  width: 50px;
  height: 50px;
  display: flex;

  background: var(--secundario);
  border: none;
  cursor: pointer;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
}

.user {
  color: var(--secundario);
}

.red-login-button:hover {
  background: var(--Esquematico1);
}

.btnfb {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.privacy-policy {
  text-align: center;
  color: var(--secundario);
  font-size: 1rem;
  padding: 20px;
}

.privacy-policy>label {
  padding: 20px;
  color: var(--texto-base);
}

.privacy-policy>label>a {
  color: var(--secundario);
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

.icon {
  filter: invert(0.9) sepia(0) hue-rotate(20deg) saturate(1000%);
  width: 35px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.Text {
  text-align: center;
  color: var(--texto-base);
  font-size: 1rem;
  margin-top: 20px;
}

.estate {
  color: var(--texto-base);
  font-weight: bold;
  font-size: var(--parra-desk);
  text-transform: uppercase;
  text-align: center;
}

.Text>a {
  color: var(--secundario);
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 320px) {

  .Title {
    font-size: 1.5rem;
  }

  .inputContainer {
    width: 100%;
  }

  .Text {
    font-size: 12px;
  }

  .privacy-policy>label {
    font-size: 12px;
  }

  .estate {
    font-size: var(--parra-tableta);
  }
}

@media screen and (max-width: 281px) {

  .Title {
    font-size: 1.5rem;
  }

  .inputContainer {
    width: 100%;
  }

  .estate {
    font-size: var(--parra-celular);
  }


}