@import url(../css/var.css);

.Title {
  text-align: center;
  color: var(--secundarios);
}

.Form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;


}

.Formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facebook-login-button {
  width: 50px;
  display: flex;
  height: 50px;
  background: var(--secundarios);
  border: none;
  cursor: pointer;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
}

.facebook-login-button:hover {
  background: #3b5998;
}

.icon {
  filter: invert(0.9) sepia(0) hue-rotate(20deg) saturate(1000%);
  width: 35px;
}

.logo {
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 320px) {

  .Title {
    font-size: 1.5rem;
  }

  .inputContainer {
    width: 100%;
  }

}
@media screen and (max-width: 281px) {

  .Title {
    font-size: 1.5rem;
  }

  .inputContainer {
    width: 100%;
  }

}