@import url(../css/var.css);

.Title {
  text-align: center;
  color: var(--textotitl);
  font-weight: 800;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.Formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facebook-login-button {
  width: 50px;
  display: flex;
  height: 50px;
  background: var(--secundarios);
  border: none;
  cursor: pointer;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
}

.facebook-login-button:hover {
  background: #3b5998;
}
.btnfb{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;

}

.privacy-policy {
  text-align: center;
  color: var(--secundarios);
  font-size: 1rem;
  padding: 20px;
}

.privacy-policy>label {
  padding: 20px;
  color: var(--primarios);
}

.privacy-policy>label>a {
  color: var(--secundarios);
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

.icon {
  filter: invert(0.9) sepia(0) hue-rotate(20deg) saturate(1000%);
  width: 35px;
}

.logo {
  width: 80px;
  height: 80px;
}

.Text {
  text-align: center;
  color: var(--primarios);
  font-size: 1rem;
  margin-top: 20px;
}

.Text>a {
  color: var(--secundarios);
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 320px) {

  .Title {
    font-size: 1.5rem;
  }

  .inputContainer {
    width: 100%;
  }
  .Text {
    font-size: 12px;
  }
  .privacy-policy>label{
    font-size: 12px;
  }
}

@media screen and (max-width: 281px) {

  .Title {
    font-size: 1.5rem;
  }

  .inputContainer {
    width: 100%;
  }

}