@import url(../css/var.css);

.SalaSolo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.SalaNav {
  width: 100%;
  height: 3rem;
  background-color: var(--background-tono);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SalaNav>a {
  margin-left: 1rem;
  color: var(--texto-titl);
  font-size: var(--titulo-desk);
  font-weight: bold;
  text-decoration: none;

}
.SalaNav>p{
  margin-right: 3rem;
  color: var(--texto-titl);
  font-size: var(--titulo-desk);
  font-weight: bold;
  text-decoration: none;
}
.scores{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
.score_negative{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 1rem;
  text-align: center;
  margin-right: 20px;
  justify-content: center;

}
.score_negative>p{
  width: 10px;
  display: flex;
  height: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--texto-base);
  background-color: var(--secundario);
  padding: 10px;
  border-radius: 20px;
}
.score_negative>span{
  color: var(--texto-titl);
  font-size: var(--titulo-desk);
  font-weight: bold;
  text-decoration: none;
  
}
.score{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 1rem;
  text-align: center;
  margin-right: 20px;
  justify-content: center;

}
.score>p{
  width: 10px;
  display: flex;
  height: 10px;
  color: var(--texto-titl);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-color: var(--Esquematico3);
  padding: 10px;
  border-radius: 20px;
}
.score>span{
  color: var(--texto-titl);
  font-size: var(--titulo-desk);
  font-weight: bold;
  text-decoration: none;
  
}

.SalaContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.SalaGame {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SalaAnswersContent {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.SalaInciso {
  background-color: var(--Esquematico1);
  color: var(--texto-base);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.SalaAnswer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30%;
  justify-content: center;
  cursor: pointer;

}
.SalaAnswer:focus{
  border: 2px solid var(--Esquematico3);
}
.SalaAnswer:active{
  border: 2px solid var(--Esquematico3);
}
.SalaAnswer:hover{
  border: 2px solid var(--Esquematico3);
}
.SalaAnswer::backdrop{
  border: 2px solid var(--Esquematico3);
}

.SalaBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--texto-titl);
  font-size: 1.5rem;
  font-weight: 600;

}

.SalaTime {
  color: var(--texto-titl);
  font-size: 1rem;
  align-items: center;
  font-weight: 600;

}

.SalaTimer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  margin-top: 1rem;
  color: var(--texto-base);
  background-color: var(--Esquematico3);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 20px;
}

.SalaInput {
  width: 50%;
  height: 50px;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background: var(--background-tono, #333);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #ffff;
  outline: none;
}
.SalaInput::placeholder{
  color: #dcdcdc;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px;


}
.SalaInput:focus{
  border: 2px solid var(--Esquematico3);
}

.SalaInputAnwswer {
  height: 180px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.SalaGameHeader{
  width: 100%;
  justify-content: center;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.EnviarButton {
  position: relative;
  right: 5%;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background: var(--background-tono, #333);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  color: white;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.correct{
  background-color: var(--Esquematico3);
  color: var(--texto-titl);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;  
}
.incorrect{
  background-color: var(--secundario);
  color: var(--texto-titl);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;  
}
.ModalCorrecto{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.ModalCorrecto>div{
  width: 50%;
  height: 50%;
  background-color: var(--background-tono);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  animation: modal 2s infinite linear;
}

@keyframes modal{
  0%{
    transform: translateY(-200px);
    opacity: 0;
  }
  100%{
   transform: translateX(0);
   opacity: 1;
  }
  120%{
    transform: translateY(200);
    opacity: 0;
  }
}
.ModalCorrecto>div>h1{
  color: var(--texto-titl);
  font-size: 2rem;
  margin-top: 1rem;
}


.green{
  color: var(--Esquematico3);

}
.red{
  color: var(--secundario);
}

.SalaGameHeader>h2{
  color: var(--texto-titl);
  font-size: 2rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
.lostGame{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.lostGame_puntaje{
color: var(--texto-titl);
font-weight: bold;
}
.lostGame_content{
  width: 50%;
  height: 50%;
  background-color: var(--background-tono);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.lostGame_content .scores{
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.lostGame_content .scores .score{
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.lostGame_content>a{
  color: var(--texto-titl);
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  background-color: var(--Esquematico3);
  padding: 1rem;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.lostGame_title{
  color: var(--texto-titl);
  font-size: 2rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
.lostGame_text{
  color: var(--texto-titl);
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
.lostGame>a{
  color: var(--texto-titl);
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  background-color: var(--Esquematico3);
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
@media screen and  (max-width: 1000px ){
  .SalaGameHeader>h2{
    font-size: 1.5rem;
  }
  .SalaGameHeader{
    height: 20%;
  }
  .SalaGame{
    width: 100%;
  }
  .SalaContent{
    flex-direction: column;
  }
  .SalaTime{
    right: 20px;
  }
  .SalaTime>h2{
    font-size: 20px;

  }

  .SalaTimer{
    font-size: 20px;
    padding: 20px;
  }

}
@media  screen and (max-width:750px) {
  .SalaTime{
    position: inherit;
  
  }
  .SalaGameHeader{
   flex-direction: column-reverse;
    height: 50%;


  }
  .SalaGameHeader>h2{
    text-align: center;
    font-size: 1.2rem;
  }
  .SalaInciso{
    font-size: var(--secun-celular);
  }
  .SalaBtn{
    font-size: var(--secun-celular);
  }
  .SalaInput{
    font-size: var(--secun-celular);
    height: 25px;
    width: 80%;
  }
  .scores{
    gap: 0.5rem;
  }
  .score{
    gap: 0.5rem;

  }
  .score_negative{
    gap: 0.5rem;
  }
  .lostGame_content{
    width: 80%;
    height: 80%;
  }
  .lostGame_content .scores{
    width: 100%;
    height: 100%;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
  }
  .SalaAnswersContent{
    width: 90%;
    gap: 0.5rem;
  }
}
  
    

