@import url(var.css);

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 20px;
}

.Contenedor_PrivacyPolicy {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 2%;
}

.Contenedor_PrivacyPolicy>h1,
.Contenedor_PrivacyPolicy>h2 {
  color: var(--secundario);
}

.btn-accept {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--secundario);
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.btn-continue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--secundario);
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.btn-finish {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--secundario);
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}


.label {
  font-size: var(--parra-desk);
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--texto-base);
  text-transform: uppercase;
}

.input {
  background-color: var(--background-tono);
  border: none;
  border-radius: 0.5rem;
  padding: 20px;
  color: var(--texto-base);
  font-size: var(--parra-desk);
  font-weight: bold;
  height: 10px;
  opacity: 66%;
}

.input:focus {
  outline: none;
  opacity: 100%;
  border: 2px solid var(--secundario);
}

.contenbtn {
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  z-index: 200000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.contendis{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  background-color: var(--background);
  opacity: 0.9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenbtn>.btn {
  margin-top: 30px;
}

.btn {
  background-color: var(--secundario);
  padding: 20px;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: var(--parra-desk);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #b42a2a;

  color: #fff;
}

img.Tematica {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  object-position: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.carousel-item {
  margin-right: 10px;
  margin-left: 10px;
}


.Card-tematica {
  background-color: rgba(229, 241, 253, 0.50);
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.Tematica {
  width: 100%;
  height: 100%;
  opacity: 70%;
  filter: grayscale(0.9);
  border-radius: 20px;
  margin: 0;
  border: none;
}

.Tematica:hover {
  opacity: 80%;
  filter: grayscale(0);
}

.row {
  display: flex;
  flex-direction: row;
}

.tema-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}


.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 40px;
  width: 100%;
  text-align: center;
  border-radius: 100%;
  align-items: center;
  z-index: 1;
}

.modal-container {
  position: fixed;
  background-color: var(--background-tono);
  opacity: 0.89;
  border-radius: 5%;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;

  animation-name: modalAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes modalAnimation {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.modal-exit {
  animation-name: modalExitAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes modalExitAnimation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}


.modal-title {
  color: var(--texto-titl);
  font-size: var(--titulos-desk);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.close-button {
  position: relative;
  display: flex;
  left: 90%;
  border: none;
  cursor: pointer;
  background-color: var(--background);
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.close-button img {
  width: 30px;
  height: 30px;
}

.modal-text {
  color: var(--texto-base);
  font-size: var(--parra-desk);
  font-weight: bold;
  padding: 20px;
}

.modalbtn-direccion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.modal-btn {
  background-color: var(--Esquematico1);
  padding: 10px;
  color: var(--texto-base);
  border-radius: 10px;
  font-size: var(--parra-desk);
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.modal-btn>a {
  text-decoration: none;
  font-size: var(--parra-desk);
  color: var(--texto-base);
  text-transform: uppercase;
}

.modal-btn:hover {
  background-color: var(--Esquematico1);
  opacity: 50%;
}

.Link {
  text-decoration: none;
  color: var(--secundario);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 20%;
  background-color: var(--background-tono);


}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.navbar-user {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.navbar-logo>img {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: 10px;
}

.name {
  color: var(--texto-titl);
  font-size: var(--parra-desk);
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .modal-text {
    font-size: 1rem;
  }

  .modal-title {
    font-size: 1.5rem;
  }

  .modal-btn {
    font-size: 15px;
    padding: 5px;

  }

  .label {
    font-size: var(--parra-tableta);
  }

  .carousel-item {
    margin-right: 5px;
    margin-left: 5px;
  }

  .navbar-logo>img {
    width: 40px;
    height: 40px;
  }

  .name {
    font-size: var(--parra-tableta);
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
  }

  .btn {
    font-size: var(--parra-tableta);
  }

  .close-button {
    left: 85%;
    width: 40px;
    height: 40px;
  }

  .close-button>img {
    width: 20px;
    height: 20px;
  }

}

@media screen and (max-width: 320px) {


  .modal-text {
    font-size: var(--parra-tableta);
  }

  .modal-title {
    font-size: var(--titulos-celular);
  }

  .modal-btn>a {
    font-size: var(--parra-celular);
  }

  .carousel-item {
    margin-right: 5px;
    margin-left: 5px;
  }

  .navbar-logo>img {
    width: 30px;
    height: 30px;
  }

  .name {
    font-size: var(--parra-celular);
  }

  .label {
    font-size: var(--parra-celular);
  }

  .btn {
    font-size: var(--parra-celular);
  }

  .close-button {
    left: 80%;
    width: 40px;
    height: 40px;
  }

  .close-button>img {
    width: 20px;
    height: 20px;
  }

}