@import url(var.css);
.ruletaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta la altura según tus necesidades */
}

.ruletaWrapper {
  position: relative;
}

.ruleta {
  width: 200px; /* Ajusta el tamaño de la ruleta según tus necesidades */
  height: 200px; /* Ajusta el tamaño de la ruleta según tus necesidades */
  animation: girar 2s infinite; /* Ajusta la duración y las propiedades de la animación según tus necesidades */
}
.Letra{
  width: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  background-color: var(--background-tono);
  z-index: 10000000;
  justify-content: center;
  align-items: center;
  animation: Caja 4s infinite;

}

@keyframes Caja {

  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
  
}
.flex{
  width: 90px;
  height: 90px;
  background-color: var(--texto-base);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10%;

}
.tacha {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  transform: translate(-80%, -50%);
  z-index: 1; /* Asegura que la tacha esté encima de la ruleta */
}
.letra_conten{
 font-size: var(--titulos-desk);
 color: var(--background-tono);
 font-weight: 600;

}

.rueda div:nth-child(1) {
  background-color: var(--Esquematico1);
  
}

.rueda div:nth-child(2) {
  background-color: var(--Esquematico2);
  
}
.rueda div:nth-child(3) {
  background-color: var(--Esquematico3);
  
}
.rueda div:nth-child(4) {
  background-color: var(--Esquematico4);
  
}
.rueda div:nth-child(5) {
  background-color: var(--secundario);
  
}
.rueda div:nth-child(6) {
  background-color: var(--texto-titl);

  
}
.rueda div:nth-child(7) {
  background-color:var(--Esquematico1);
  
}
.rueda div:nth-child(8) {
  background-color: var(--Esquematico2);
  
}
.rueda div:nth-child(9) {
  background-color: var(--Esquematico3);
  
}
.rueda div:nth-child(10) {
  background-color: #b40000;
  
}
.rueda div:nth-child(11) {
  background-color: #b400b4;
  
}
.rueda div:nth-child(12) {
  background-color: #b4b400;
  
}
.rueda div:nth-child(13) {
  background-color: #2695f6;
  
}
.rueda div:nth-child(14) {
  background-color: #4100a2;
  
}
.rueda div:nth-child(15) {
  background-color: #1b007b;
  
}
.rueda div:nth-child(16) {
  background-color: #860079;
  
}
.rueda div:nth-child(17) {
  background-color: #D30098;
  
}
.rueda div:nth-child(18) {
  background-color: #7b0000;
  
}
.rueda div:nth-child(19) {
  background-color: var(--Esquematico1);
  
}
.rueda div:nth-child(20) {
  background-color: var(--Esquematico2);
  
}
.rueda div:nth-child(21) {
  background-color: var(--Esquematico3);
  
}
.rueda div:nth-child(22) {
  background-color: var(--Esquematico4);
  
}
.rueda div:nth-child(23) {
  background-color: var(--secundario);
  
}
.rueda div:nth-child(24) {
  background-color: var(--Esquematico1);
  
}
.flechita{
  font-size: 24px;
  background-color: var(--secundario);
  color: var(--secundario);
  transform: rotate(90deg);
  position: absolute;
  top: 40%;

  z-index: 2;
  padding: 10px;
}
.rueda {
  width: 20rem;
  height: 20rem;
  border: 1px solid var(--background-tono);
  position: relative;
  padding: 0;
  margin: 1rem auto;
  border-radius: 50%;
  list-style: none;
  overflow: hidden; 
  border:  5px solid var(--texto-base);
}

.rueda div {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  transition: transform 1s;
  color: var(--texto-titl);
  font-weight: bold;
  align-items: center;
  user-select: none;

  align-items: center;
  font-size: 1.5rem;
}
.rueda-container {
  position: relative;
  overflow: hidden;
}
.rotating{
  overflow: hidden;
}


.selected-letter {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--texto-titl);
}
.rotating {
  animation: girar 2s infinite;
}
.StoRulet{
  background-color: var(--secundario);
  padding: 20px;
  border-radius: 10px;
  color: var(--texto-titl);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border:  none;
}
.RunRulet{
  background-color: var(--Esquematico1);
  padding: 20px;
  border-radius: 10px;
  color: var(--texto-titl);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border:  none;
  display: none;
}
.btns{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
/* Animación de giro para la ruleta */
@keyframes girar {
  from {
    transform: rotate(0);
    border-radius: 50%;

  }
  to {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}

.ruleta li.girando {
  animation: girar 1s infinite; 
  border-radius: 50%;
  /* Ajusta la duración y las propiedades de la animación según tus necesidades */
}
.ruleta-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  background-color: var(--Esquematico1);
}
.Contenedor_PrivacyPolicy {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 2%;
}

.Contenedor_PrivacyPolicy>h1,
.Contenedor_PrivacyPolicy>h2 {
  color: var(--secundario);
}

.btn-accept {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--secundario);
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.btn-continue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--secundario);
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.btn-finish {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--secundario);
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.label {
  font-size: var(--parra-desk);
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--texto-base);
  text-transform: uppercase;
}

.inputWrapper {
  position: relative;
}

.input {
  background-color: var(--background-tono);
  border: none;
  border-radius: 0.6rem;
  color: var(--texto-base);
  font-size: var(--parra-desk);
  font-weight: bold;
  height: 50px;
  padding: 2px;
  width: 100%;
  opacity: 66%;
  zoom: 1; /* Deshabilita el zoom en dispositivos móviles */
  touch-action: manipulation; /* Deshabilita el zoom en dispositivos móviles */
  -ms-touch-action: manipulation; /* Deshabilita el zoom en dispositivos móviles en Internet Explorer */
}

.input:focus {
  outline: none;
  opacity: 100%;
  border: 2px solid var(--secundario);
}

.icono {
  position: absolute;
  top: 50%;
  width: 20px;
  right: 10px;
  padding: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}


img.Tematica {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  object-position: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.carousel-item {
  margin-right: 10px;
  margin-left: 10px;
}


.Card-tematica {
  background-color: rgba(229, 241, 253, 0.50);
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.Tematica {
  width: 100%;
  height: 100%;
  opacity: 70%;
  filter: grayscale(0.9);
  border-radius: 20px;
  margin: 0;
  border: none;
}

.Tematica:hover {
  opacity: 80%;
  filter: grayscale(0);
}

.row {
  display: flex;
  flex-direction: row;
}

.tema-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}


.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 40px;
  width: 100%;
  text-align: center;
  border-radius: 100%;
  align-items: center;
  z-index: 1;
}

.modal-container {
  position: fixed;
  background-color: var(--background-tono);
  opacity: 0.89;
  border-radius: 5%;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;

  animation-name: modalAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
@keyframes modalAnimation {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.modal-exit {
  animation-name: modalExitAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes modalExitAnimation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}


.modal-title {
  color: var(--texto-titl);
  font-size: var(--titulos-desk);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.close-button {
  position: relative;
  display: flex;
  left: 90%;
  border: none;
  cursor: pointer;
  background-color: var(--background);
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.close-button img {
  width: 30px;
  height: 30px;
}

.modal-text {
  color: var(--texto-base);
  font-size: var(--parra-desk);
  font-weight: bold;
  padding: 20px;
}

.modalbtn-direccion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.modal-btn {
  background-color: var(--Esquematico1);
  padding: 10px;
  color: var(--texto-base);
  border-radius: 10px;
  font-size: var(--parra-desk);
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.modal-btn>a {
  text-decoration: none;
  font-size: var(--parra-desk);
  color: var(--texto-base);
  text-transform: uppercase;
}

.modal-btn:hover {
  background-color: var(--Esquematico1);
  opacity: 50%;
}

.Link {
  text-decoration: none;
  color: var(--secundario);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 20%;
  background-color: var(--background-tono);


}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.navbar-user {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.navbar-logo>img {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: 10px;
}

.name {
  color: var(--texto-titl);
  font-size: var(--parra-desk);
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  .modal-text {
    font-size: 1rem;
  }
  .rueda {
    width: 15rem;
    height: 15rem;
  }
  .rueda div{
    font-size: 1rem;
  }

  .modal-title {
    font-size: 1.5rem;
  }

  .modal-btn {
    font-size: 15px;
    padding: 5px;

  }

  .label {
    font-size: var(--parra-tableta);
  }

  .carousel-item {
    margin-right: 5px;
    margin-left: 5px;
  }

  .navbar-logo>img {
    width: 40px;
    height: 40px;
  }

  .name {
    font-size: var(--parra-tableta);
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
  }

  .btn {
    font-size: var(--parra-tableta);
  }

  .close-button {
    left: 85%;
    width: 40px;
    height: 40px;
  }

  .close-button>img {
    width: 20px;
    height: 20px;
  }
  .estate{
    font-size: var(--parra-tableta);
    text-align: center;
  }
  .input{
    font-size: 16px;
  }
  .RunRulet{
    display: flex;
  }

}

@media screen and (max-width: 400px) {


  .modal-text {
    font-size: var(--parra-tableta);
  }

  .modal-title {
    font-size: var(--titulos-celular);
  }

  .modal-btn>a {
    font-size: var(--parra-celular);
  }

  .carousel-item {
    margin-right: 5px;
    margin-left: 5px;
  }
  .rueda  {
    width: 10rem;
    height: 10rem;
  }

  .navbar-logo>img {
    width: 30px;
    height: 30px;
  }

  .name {
    font-size: var(--parra-celular);
  }

  .label {
    font-size: var(--parra-celular);
  }

  .btn {
    font-size: var(--parra-celular);
  }

  .close-button {
    left: 80%;
    width: 40px;
    height: 40px;
  }

  .close-button>img {
    width: 20px;
    height: 20px;
  }

}