:root {
/* Color styles */
--background: rgba(38, 38, 38, 1);
--texto-titl: rgba(227, 227, 227, 1);
--background-tono: rgb(188, 60, 60);
--secundario: rgba(245, 66, 66, 1);
--texto-base: rgba(255, 255, 255, 1);
--Esquematico2: rgba(255, 196, 0, 1);
--Esquematico1: rgba(95, 67, 211, 1);
--Esquematico3: rgba(46, 204, 113, 1);
--Esquematico4: #4287F5;

/* Text-size styles */
--titulos-desk: 32px;
--titulo-tableta: 28px;
--titulo-celular: 24px;
--secun-desk: 24px;
--secun-tableta: 20px;
--secun-celular: 18px;
--parra-desk: 16px;
--parra-tableta: 14px;
--parra-celular: 12px;
}
