:root {
  --background: #262626;
  --background2: #333333;
  --secundarios:#F54242;
  --textotitl:#E3E3E3;
  --primarios:#FFFFFF;
  --Esquematico1:#2ECC71;
  --Esquematico2:#FFC400; 
  --Esquematico3:#4287F5;
  
}
